{% extends 'main.html' %} {% block content %}

<main class="formPage my-xl">
  <div class="content-box">
    <div class="formWrapper">
      <a class="backButton" href="{% url 'account' %}"
        ><i class="im im-angle-left"></i
      ></a>
      <br />

      <!--multipart/form-data 最大的用處在於使用者可以把複數個資料格式一次傳送（一個請求）出去-->

      <form
        class="form"
        method="POST"
        action="{% url 'edit-account' %}"
        enctype="multipart/form-data"
      >
        {% csrf_token %} {% for field in form %}
        <div class="form__field">
          <label for="formInput#text">{{field.label}}</label>
          {{ field }}
        </div>

        {% endfor %}

        <input
          class="btn btn--sub btn--lg my-md"
          type="submit"
          value="Submit"
        />
      </form>
    </div>
  </div>
</main>

{% endblock content %}
